// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colores tema cataluña
:root {
    --rojoa: #D9303E;
    --rojob: #D9304F;
    --crema: #F2DA63;
    --marron: #8C7345;
    --gris: #BFB8AE;
    --verdea: #558C03;
    --login: linear-gradient(120deg, #2980b9, #8e44ad);
}